@import "tailwindcss";

@font-face {
  font-family: "Spectral";
  src: url("./Fonts/Spectral-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  margin: 0;
  padding: 0;
  font-family: "Spectral", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

h1 {
  font-family: "Spectral", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif !important;
  font-weight: bolder;
}
